# Ignore node_modules (installed in the Dockerfile)
node_modules
.pnpm-store

# Ignore build output (generated in the Dockerfile)
.next
.out

# Ignore local development files
.env*.local
.DS_Store

# Ignore logs and debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Ignore IDE and editor files
.idea
.vscode
*.swp
*.swo

# Ignore test and coverage files
coverage
__tests__
test
tests

# Ignore Git files
.git
.gitignore

# Ignore Docker-related files (optional)
Dockerfile.dev
docker-compose.override.yml
