.abstract + aside {
  display: none !important;
}

aside:not(:has(img)):not(:has(iframe)) {
  background: repeating-linear-gradient(
    -33deg,
    var(--primary),
    var(--primary) 1px,
    transparent 1px,
    transparent 10px
  );
}