.globalFooter {
  color: light-dark(var(--background), var(--foreground));
  fill: light-dark(var(--background), var(--foreground));
  background: light-dark(var(--foreground), var(--background)); 
  border-top: 1px solid var(--secondary);
}