.teamGalleryBeehive {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  gap: 15px 0;
  margin-block: 20px 100px;
  justify-content: center;

  @media (min-width: 640px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(5, 1fr);
    gap: 20px 0;
    margin-block-end: 50px
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(8, 1fr);
    gap: 25px 0;
  }

  @media (min-width: 1280px) {
    grid-template-columns: repeat(9, 1fr);
    gap: 30px 0;
  }
}

.teamGalleryBee {
  grid-column: span 2;

  @media (max-width: 767px) {
    &:not(:global(.show-all)):nth-child(n+6) {
      display: none;
    }
  }

  @media (max-width: 639px) { 
    &:nth-child(even) {
      grid-column-start: 2;
      grid-column-end: 4;
      margin-top: -150px;
      transform: translateY(75px);
    }
  }

  @media (min-width: 640px) and (max-width: 767px) {
    &:nth-child(3n) {
      grid-column-start: 2;
      grid-column-end: 4;
      margin-top: -150px;
      transform: translateY(75px);
    }
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    &:nth-child(4n - 1) {
      grid-column-start: 2;
      grid-column-end: 4;
    }
    &:nth-child(4n) {
      grid-column-start: 4;
      grid-column-end: 6;
    }
    &:nth-child(4n - 1),
    &:nth-child(4n) {
      margin-top: -150px;
      transform: translateY(75px);
    }
  }

  @media (min-width: 1024px) and (max-width: 1279px) {
    &:nth-child(7n - 2) {
      grid-column-start: 2;
      grid-column-end: 4;
    }
    &:nth-child(7n - 1) {
      grid-column-start: 4;
      grid-column-end: 6;
    }
    &:nth-child(7n) {
      grid-column-start: 6;
      grid-column-end: 8;
    }
    &:nth-child(7n - 2),
    &:nth-child(7n - 1),
    &:nth-child(7n) {
      margin-top: -150px;
      transform: translateY(75px);
    }
  }

  @media (min-width: 1280px) {
    &:nth-child(8n - 3) {
      grid-column-start: 2;
      grid-column-end: 4;
    }
    &:nth-child(8n - 2) {
      grid-column-start: 4;
      grid-column-end: 6;
    }
    &:nth-child(8n - 1) {
      grid-column-start: 6;
      grid-column-end: 8;
    }
    &:nth-child(8n) {
      grid-column-start: 8;
      grid-column-end: 10;
    }
    &:nth-child(8n - 3),
    &:nth-child(8n - 2),
    &:nth-child(8n - 1),
    &:nth-child(8n) {
      margin-top: -150px;
      transform: translateY(75px);
    }
  }
}